<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% block header %}
        <title>{{ SITE_NAME }}</title>
        <meta name="description" content="{{ SITE_DESCRIPTION }}"/>
        <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
        <link rel="canonical" href="{{ SITE_URL }}">
    {% endblock %}

    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ SITE_URL }}/feed.xml">

    {% if ANALYTICS_CODE %}
        {{ ANALYTICS_CODE| safe }}
    {% endif %}

    <style>
        body {
            margin: 4% 4%;
            line-height: 1.6;
            word-wrap: break-word;
        }

        body > * {
            max-width: 46em;
            margin: auto;
        }

        img {
            max-width: 100%;
        }

    </style>
</head>

<body>


<main>

    {% block nav %}
        {% include 'layout/navbar.html' %}
    {% endblock %}

    {% block main_content %}
    {% endblock %}
</main>

{% block footer %}
    {% include 'layout/footer.html' %}
{% endblock %}

</body>
</html>