{% extends 'layout/base.html' %}

{% block header %}
    <title>{{ article.title }} | {{ SITE_NAME }}</title>
    <meta name="description" content="{{ article.content | truncate(length=200) }}"/>
    <meta name="keywords" content="{{ (",").join(article.tdk_tags) }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title }}"/>
    <meta property="og:description" content="{{ article.content | truncate(length=200) }}"/>
    <meta property="og:url" content="{{ SITE_URL }}{{ article.url }}">
    <meta property="og:site_name" content="{{ SITE_NAME }}">
    <meta property="article:tag" content="{{ (",").join(article.tdk_tags) }}">
    <meta property="article:category" content="{{ article.tdk_category }}">
    <meta property="article:date" content="{{ article.date }}">

    <link rel="canonical" href="{{ SITE_URL }}{{ article.url }}">
    <style>
        blockquote {
            padding: 0 0 0 10px;
            margin: 0;
            border-left: 2px solid #615b5b;
        }

        pre {
            border: 1px solid #ccc;
            padding: 1em;
            overflow-x: auto;
            background: #f7f7f7;
            line-height: 125%;
        }

        p code {
            padding: 1px 4px;
            color: #d14;
            background: #faf9f9;
            border: 1px solid #ebeaea;
            border-radius: 1px;
        }

        td.linenos pre {
            color: #000000;
            background-color: #f0f0f0;
            padding-left: 5px;
            padding-right: 5px;
        }

        span.linenos {
            color: #000000;
            background-color: #f0f0f0;
            padding-left: 5px;
            padding-right: 5px;
        }

        td.linenos pre.special {
            color: #000000;
            background-color: #ffffc0;
            padding-left: 5px;
            padding-right: 5px;
        }

        span.linenos.special {
            color: #000000;
            background-color: #ffffc0;
            padding-left: 5px;
            padding-right: 5px;
        }

        .codehilite .hll {
            background-color: #ffffcc
        }

        .codehilite {
            background: rgb(248, 248, 248);
        }

        .codehilite .c {
            color: #177500
        }

        .codehilite .err {
            color: #000000
        }

        .codehilite .k {
            color: #A90D91
        }

        .codehilite .l {
            color: #1C01CE
        }

        .codehilite .n {
            color: #000000
        }

        .codehilite .o {
            color: #000000
        }

        .codehilite .ch {
            color: #177500
        }

        .codehilite .cm {
            color: #177500
        }

        .codehilite .cp {
            color: #633820
        }

        .codehilite .cpf {
            color: #177500
        }

        .codehilite .c1 {
            color: #177500
        }

        .codehilite .cs {
            color: #177500
        }

        .codehilite .kc {
            color: #A90D91
        }

        .codehilite .kd {
            color: #A90D91
        }

        .codehilite .kn {
            color: #A90D91
        }

        .codehilite .kp {
            color: #A90D91
        }

        .codehilite .kr {
            color: #A90D91
        }

        .codehilite .kt {
            color: #A90D91
        }

        .codehilite .ld {
            color: #1C01CE
        }

        .codehilite .m {
            color: #1C01CE
        }

        .codehilite .s {
            color: #C41A16
        }

        .codehilite .na {
            color: #836C28
        }

        .codehilite .nb {
            color: #A90D91
        }

        .codehilite .nc {
            color: #3F6E75
        }

        .codehilite .no {
            color: #000000
        }

        .codehilite .nd {
            color: #000000
        }

        .codehilite .ni {
            color: #000000
        }

        .codehilite .ne {
            color: #000000
        }

        .codehilite .nf {
            color: #000000
        }

        .codehilite .nl {
            color: #000000
        }

        .codehilite .nn {
            color: #000000
        }

        .codehilite .nx {
            color: #000000
        }

        .codehilite .py {
            color: #000000
        }

        .codehilite .nt {
            color: #000000
        }

        .codehilite .nv {
            color: #000000
        }

        .codehilite .ow {
            color: #000000
        }

        .codehilite .mb {
            color: #1C01CE
        }

        .codehilite .mf {
            color: #1C01CE
        }

        .codehilite .mh {
            color: #1C01CE
        }

        .codehilite .mi {
            color: #1C01CE
        }

        .codehilite .mo {
            color: #1C01CE
        }

        .codehilite .sa {
            color: #C41A16
        }

        .codehilite .sb {
            color: #C41A16
        }

        .codehilite .sc {
            color: #2300CE
        }

        .codehilite .dl {
            color: #C41A16
        }

        .codehilite .sd {
            color: #C41A16
        }

        .codehilite .s2 {
            color: #C41A16
        }

        .codehilite .se {
            color: #C41A16
        }

        .codehilite .sh {
            color: #C41A16
        }

        .codehilite .si {
            color: #C41A16
        }

        .codehilite .sx {
            color: #C41A16
        }

        .codehilite .sr {
            color: #C41A16
        }

        .codehilite .s1 {
            color: #C41A16
        }

        .codehilite .ss {
            color: #C41A16
        }

        .codehilite .bp {
            color: #5B269A
        }

        .codehilite .fm {
            color: #000000
        }

        .codehilite .vc {
            color: #000000
        }

        .codehilite .vg {
            color: #000000
        }

        .codehilite .vi {
            color: #000000
        }

        .codehilite .vm {
            color: #000000
        }

        .codehilite .il {
            color: #1C01CE
        }
    </style>
{% endblock %}

{% block nav %}
    <a href="/">..</a>
    <br>
{% endblock %}

{% block main_content %}
    <article>
        <h1>{{ article.title }}</h1>
        {{ article.body | safe }}
        <b>#</b> {{ article.date.strftime("%Y年%m月%d日") }}<br>
        <b>#</b> 分类:&nbsp;&nbsp;<a href="{{ article.category.url }}">{{ article.category.name }}</a><br>
        {% if article.tags %}
            <b>#</b> 标签:&nbsp;
            {% for tag in article.tags %}
                <a href="{{ tag.url }}">{{ tag.name }}</a>&nbsp;&nbsp;
            {% endfor %}
        {% endif %}
    </article>
{% endblock %}

