{% extends 'layout/base.html' %}

{% block header %}
    {% if tag_name %}
        <title>{{ tag_name }} | {{ SITE_NAME }}</title>
    {% else %}
        <title>{{ SITE_NAME }}</title>
    {% endif %}

    {% if description %}
        <meta name="description" content="{{ description }}"/>
    {% else %}
        <meta name="description" content="{{ SITE_DESCRIPTION }}"/>
    {% endif %}

    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>

    <link rel="canonical" href="{{ SITE_URL }}/tag/{{ tag_name }}">

{% endblock %}

{% block nav %}
    <a href="/">..</a>
    <br>
{% endblock %}

{% block main_content %}
    <h3># {{ tag_name }}</h3>
    <ul>
        {% for year, list in articles|groupby('date.year')|sort(attribute="grouper", reverse=True) %}
            {% for article in list %}
                <li>
                    <article>
                        <a href="{{ article.url }}">{{ article.title }}</a>
                         <time>{{ article.date.strftime("%Y年%m月%d日") }}</time>&nbsp;
                    </article>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endblock %}

