{% extends 'layout/base.html' %}

{% block header %}
    <title>{{ SITE_NAME }}</title>
    <meta name="description" content="{{ SITE_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>

    <link rel="alternate" type="application/atom+xml" href="/feed.xml">
{% endblock %}

{% block main_content %}
    <div class="container post-list">
        <ul class="article-list">

            {% for year, list in articles|groupby('date.year')|sort(attribute="grouper", reverse=True) %}
                {% for article in list %}
                    <li class="article-list-item">
                        <a href="/post/{{ article.slug }}.html" title="{{ article.title }}"
                           itemprop="url"><h5>{{ article.title }}</h5></a>
                        <p>
                            {{ article.subtitle }}
                        </p>
                        <div class="article-list-footer">
                            <span class="article-list-date">{{ article.date.strftime("%B %d, %Y") }}</span>
                            <span class="article-list-divider">-</span>
                            <div class="article-list-category">
                                <a href="/category/{{ article.category }}.html">{{ article.category }}</a>
                            </div>
                            <span class="article-list-divider">-</span>
                            <div class="article-list-tags">
                                {% for tag in article.tags %}
                                    <a href="/tag/{{ tag }}.html">{{ tag }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            {% endfor %}
        </ul>

    </div>
{% endblock %}

