body {
    max-width: 800px;
    margin: auto;
    padding: 1em;
    font-family: "Arvo", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Noto Sans CJK SC", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;
}

.site-name {
    font-size: 2.2rem;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 700;
}

.site-name a {
    color: #000;
    text-decoration: none;
}

em {
    color: #666;
}

.menu {
    float: right;
}

.menu li {
    display: inline-block;
    font-size: 18px;
}

main a {
    text-decoration: none;
    color: black;
}

main {
    hyphens: auto;
    font-size: 18px;
    color: #222;
    min-height: 480px;
}

nav hr {
    display: none;
}

h1, h2, h3, strong {
    color: #222;
}

h1, h2, h3 {
    font-style: normal;
    font-weight: 500;
}

.archive-title {
    font-size: 1.8rem;
}

.article-meta, .menu a {
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    color: black;
}


.article-meta, .menu, footer {
    text-align: center
}

.article-list-item {
    display: table-cell;
    padding-right: 10px;
}

.article-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 12px 0;
    font-size: 1.1rem;
}

.article-list a:hover {
    text-decoration: underline;
    font-weight: 700;
}

.title {
    text-align: left;
    font-size: 1.8rem;
    line-height: 1.2em;
    font-weight: 600;
}

.article-body {
    line-height: 32px;
    margin-top: 2.5em;
    font-family: charter, -apple-system, Georgia, Cambria, "Times New Roman", Times, serif;
    /*word-break: break-all;*/
}

.article-body ul {
    padding-left: 35px;
}

.article-body h2 {
    padding-bottom: 2px;
    border-bottom: 1px solid #e4e3e3;
}

.article-body a {
    background: rgba(123, 241, 229, 0.2);
    word-break: break-all;
}

.article-body a:hover {
    background: #ecebeb;
}

.article-attrs {
    text-align: left;
    font-size: 16px;
    font-style: italic;

}

.article-attrs .date {
    font-weight: bold;
}

.article-attrs .author {
    font-weight: 600;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: #333;

}

footer {
    font-size: 14px;
    color: #333;
    font-family: 'Merriweather Sans', sans-serif;;
}

hr {
    clear: both;
    border-style: dashed;
    color: #ddd

}

pre {
    border: 1px solid #ccc;
    /*box-shadow: rgba(0, 0, 0, .3) 0 0 15px;*/
    padding: 1em;
    overflow-x: auto;
    font-size: 16px;
}

pre code {
    background: 0 0
}

iframe, img, video {
    width: 100%;
    height: auto;
}

blockquote {
    background: #f5f5f5;
    border-left: 3px solid #ccc;
    padding: 3px 1em 3px;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

table {
    margin: auto;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666
}

table thead th {
    border-bottom: 1px solid #ddd
}

td, th {
    padding: 5px
}

tfoot, thead, tr:nth-child(even) {
    background: #eee
}

code {
    font-family: Consolas, Courier, "Courier New", 'STKaiti', 'KaiTi', 'SimKai', monospace;
    font-size: 85%;
    background: #f2f2f2;
}

article a, .terms a, .links a {
    color: #000;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid;
    line-height: 2em;
}

.tags {
    margin-left: 14px;
}

.tags a {
    color: #000;
    text-decoration: none;
    line-height: 1.8em;
}


ul {
    padding-inline-start: 0;
}

nav {
    min-height: 60px;
    margin-bottom: 30px;
    margin-top: 24px;
}

.tags {
    margin-top: 10px;
}


.list-date {
    color: #000;
    width: 16%;
}

.list-title {
    width: 70%;
}

.list-category .tag_detail {
    text-align: center;
    padding: 3px 0;
    border: #000 2px solid;
    border-radius: 5px;
    font-size: .8rem;
    width: 100%;
}

.page {
    text-align: center;
    font-size: 16px;
}

.page .next {
    float: right;
    font-size: 16px;
}

.header-line {
    width: 100%;
    border-width: 2px;
    border-color: #482936;
    border-style: solid none none none;
}

.about-page ul, .links ul {
    padding-left: 30px;
}

.about-page {
    min-height: 520px;
}

.about-page a {
    background: none;
}

.beian {
    display: block;
}


.tags-list {
    float: left;
    list-style: none;
    padding-right: 20px;
    margin-top: 10px;
}

.tags-list a:hover {
    text-decoration: underline;
}

.article-tags {
    display: inline-block;
    margin-left: 20px;
    line-height: 12px;
}

.article-tags li {
    list-style: none;
    margin-left: 10px;
    float: left;
}

@media only screen and (max-width: 600px) {
    main {
        /*overflow: hidden;*/
        font-size: 16px !important;
    }

    .menu {
        padding-inline-start: 0;
    }

    .searchAria {
        display: none;
    }

    .list-date {
        width: 20%;
        font-size: 16px;
    }

    .list-category {
        display: none;
    }

    .article-list {
        font-size: 1rem;
    }

    .article-tags {
        margin-left: 10px;
    }
}
