{% extends 'layout/base.html' %}

{% block header %}
    <title>{{ SITE_NAME }}</title>
    <meta name="description" content="{{ SITE_DESCRIPTION }}"/>
    <meta name="keywords" content="{{ SITE_KEYWORDS }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{ SITE_NAME }}"/>
    <meta property="og:description" content="{{ SITE_DESCRIPTION }}"/>
    <meta property="og:url" content="{{ SITE_URL }}"/>
    <meta property="og:site_name" content="{{ SITE_NAME }}"/>
{% endblock %}



{% block main_content %}
    <br>
    <ul>
        {% for year, list in articles|groupby('date.year')|sort(attribute="grouper", reverse=True) %}
            {% for article in list %}
                <li>
                    <article>
                        <a href="{{ article.url }}">{{ article.title }}&nbsp;</a>&nbsp;·&nbsp;
                        <time><i>{{ article.date.strftime("%Y.%m.%d") }}&nbsp;</i></time>
                        {% if article.subtitle %}
                            <p>
                                {{ article.subtitle }}</p>
                        {% endif %}
                    </article>
                    <br>
                </li>
            {% endfor %}
        {% endfor %}
    </ul>
    <ul>
        <li>
            {% if  page.prev_page_path %}
                <a href="{{ page.prev_page_path }}">上一页</a>&nbsp;&nbsp;&nbsp;
            {% endif %}
            {% if page.next_page_path %}
                <a href="{{ page.next_page_path }}"> 下一页</a>
            {% endif %}
        </li>
    </ul>
{% endblock %}

