{% extends 'layout/base.html' %}

{% block header %}
    <title>{{ article.title }} | {{ SITE_NAME }}</title>
    <meta name="description" content="{{ article.content | truncate(length=200) }}"/>
    <meta name="keywords" content="{{ (",").join(article.tdk_tags) }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title }}"/>
    <meta property="og:description" content="{{ article.content | truncate(length=200) }}"/>
    <meta property="og:url" content="{{ SITE_URL }}/post/{{ article.slug }}">
    <meta property="og:site_name" content="2dosth">
    <meta property="article:tag" content="{{ (",").join(article.tdk_tags) }}">
    <meta property="article:category" content="{{ article.tdk_category }}">
    <meta property="article:published_date" content="{{ article.date }}">

    <link rel="canonical" href="{{ SITE_URL }}/post/{{ article.slug }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:description" content="{{ article.content | truncate(length=200) }}">
    <meta name="twitter:title" content="{{ article.title }}">
    <meta name="twitter:site" content="@2dosth">
    <meta name="twitter:creator" content="@2dosth">
{% endblock %}

{% block main_content %}
    <article class="article">
        <header class="article-header">
            <h1>{{ article.title }}</h1>
            {% if  article.subtitle %}
                <p>{{ article.subtitle }}</p>
            {% else %}
                <p></p>
            {% endif %}

            <div class="article-list-footer">
                <span class="article-list-date">{{ article.date.strftime("%B %d, %Y") }}</span>
                <span class="article-list-divider">-</span>
                <div class="article-list-category">
                    <a href="{{ article.category.url }}">{{ article.category.name }}</a>
                </div>
                {% if article.tags %}
                    <span class="article-list-divider">-</span>
                    <div class="article-list-tags">
                        {% for tag in article.tags %}
                            <a href="{{ tag.url }}">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

        </header>

        <div class="article-body">
            {{ article.body | safe }}
        </div>

    </article>
{% endblock %}