<nav>
    <div class="site-name"><a href="/">{{ SITE_NAME }}</a></div>
    {#        <em>Log something useless</em>#}
    <ul class="menu">
        <li><a href="/about.html">About</a></li>
        <li><a href="/tags.html">Tags</a></li>
        <li><a href="/links.html">Links</a></li>
{#        <li><a href="mailto:intbleem@gmail.com">Email</a></li>#}
        {#        <li><a href="/tags.html">Tags</a></li>#}
        {#        <li><a href="/plogs.html">Photos</a></li>#}
        {#        \#}
        {#        <li><a href="/archives.html">Archives</a></li>#}

    </ul>

    {#    <form action="/search" method="get" class="searchAria">#}
    {#            <span class="searchSpan">#}
    {#            <input type="text" name="q">#}
    {#            <i class="fa fa-search" aria-hidden="true"></i>#}
    {#            </span>#}
    {#    </form>#}
    <hr>
</nav>

<div class="header-line"></div>
