{% extends 'layout/base.html' %}

{% block header %}
    <title>{{ article.title }} | {{ SITE_NAME }}</title>
    <meta name="description" content="{{ article.content | truncate(length=200) }}"/>
    <meta name="keywords" content="{{ (",").join(article.tags) }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ article.title }}"/>
    <meta property="og:description" content="{{ article.content | truncate(length=200) }}"/>
{% endblock %}

{% block main_content %}
    <div class="header-line"></div>
    <div class="article-meta">
        <h1 class="title">{{ article.title }}</h1>

    </div>

    <div class="article-body">
        {{ article.body | safe }}
    </div>

    <div class="article-attrs">
        <div class="article-detail-date">
            <time>Posted on {{ article.date.strftime("%Y-%m-%d") }}</time>
        </div>

        <div class="article-category">
            <span>
                Archived in <a href="/category/{{ article.category }}.html">{{ article.category }}</a>
            </span>
        </div>

        <div class="article-tags">
            <ul>
                {% for tag in article.tags %}
                    <li>
                        # <a href="/tag/{{ tag }}.html">{{ tag }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    {#    <script src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>#}
    {#    <link rel="dns-prefetch" href="//cdn.mathjax.org"/>#}
    {#    <script src="/static/js/math.js"></script>#}
{% endblock %}